<div>
  <section>
    <h3>Browser's local storage</h3>
    <button mat-button (click)="clearLocalStorage()">Clear localStorage</button>
  </section>
  <br>
  <section>
    <h3>Exercise: Convert a percentage of the maximum level in digital system to dBFS</h3>
    <mat-form-field appearance="fill">
      <mat-label>Edit a number between 0 and 1</mat-label>
      <input matInput type="text" [(ngModel)]="sPerc" (ngModelChange)="convertPercDbfs()">
    </mat-form-field>
    Response: {{sDbfs}} dBFS
  </section>
</div>
