<section>
  <div>
    <p>
      Please provide a GitHub Personal Access Token
    </p>

    <mat-form-field appearance="fill" class="form">
      <mat-label>Token</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="pat" class="token">
      <button mat-icon-button matSuffix [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" (click)="hide = !hide" [>
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</section>

<section>
  <div>
    <button mat-raised-button (click)="setIdentity()">Sign in</button>
    <button mat-raised-button (click)="getAnonymous()">Get anonymous</button>
  </div>
</section>
