<div *ngIf="repositories" class="splash">
  <h1>Github public repositories</h1>
  <table>
    <tr>
      <td>Name</td>
      <td>Owner</td>
      <td>Avatar</td>
      <td>Description</td>
    </tr>
    <tr *ngFor="let repository of repositories | async">
      <td><a href="{{ repository.html_url }}">{{ repository.name }}</a></td>
      <td><a href="{{ repository.owner.url }}">{{ repository.owner.login }}</a></td>
      <td><img src="{{ repository.owner.avatar_url }}"/></td>
      <td>{{ repository.description }}</td>
    </tr>
  </table>

  <div *ngFor="let repository of repositories | async">
    <table>


    </table>
    {{repository.name}} <a href="{{repository.url}}" class="repo">{{ repository.description }}</a>
    <br>
  </div>
</div>

