<div class="splash">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select sorting order</mat-label>
      <mat-select [(value)]="sortOrderOption">
        <mat-option value="Repo">Repo</mat-option>
        <mat-option value="Owner">Owner</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Select owner type</mat-label>
      <mat-select [(value)]="ownerTypeOption">
        <mat-option value="User">User</mat-option>
        <mat-option value="Organization">Organization</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h1>Github public repositories</h1>
  <table>
    <tr>
      <td>Repository name</td>
      <td>Description</td>
      <td>Owner name</td>
      <td>Owner avatar</td>
    </tr>
    <tr *ngFor="let repository of repositories | async">
      <td *ngIf="repository.owner.type == ownerTypeOption"><a href="{{ repository.html_url }}">{{ repository.name }}</a></td>
      <td *ngIf="repository.owner.type == ownerTypeOption">{{ repository.description }}</td>
      <td *ngIf="repository.owner.type == ownerTypeOption">{{ ownerTypeOption }} <a href="{{ repository.owner.url }}">{{ repository.owner.login }}</a></td>
      <td *ngIf="repository.owner.type == ownerTypeOption"><img src="{{ repository.owner.avatar_url }}" class="foto"/></td>
    </tr>
  </table>
</div>

