<div class="content">
  <p style="margin:0px;">
    <mat-toolbar class="toolbar">
      <mat-icon class="material-icons-round">waving_hand</mat-icon>
      <span class="toolbar-text toolbar-text-application-name">
        {{ applicationName }}
      </span>
      <span class="toolbar-text toolbar-text-app-purpose">
        A SIMPLE GITHUB BROWSER
      </span>
      <span class="toolbar-spacer"></span>
      <button class="toolbar-button" mat-button routerLink="/splash">
        HOME
      </button>
      <button class="toolbar-button" mat-button routerLink="/nonexistentpage">
        404
      </button>
      <button class="toolbar-button" mat-button routerLink="/signin">
        IDENTITY
      </button>
      <button class="toolbar-button" mat-button routerLink="/userlist">
        USER LIST
      </button>
    </mat-toolbar>
  </p>

  <router-outlet></router-outlet>

  <p>
    <mat-toolbar class="toolbar">
      <span class="toolbar-spacer"></span>
      <mat-icon class="material-icons-round">wind_power</mat-icon>
      <span class="toolbar-text toolbar-text-powered-by">
        POWERED BY <a href="https://angular.io/">ANGULAR</a>
      </span>
    </mat-toolbar>
  </p>
</div>
