/* You can add global styles to this file, and also import other style files */

html, body {
  height: fit-content;
}

body {
  margin: 0px;
  font-family: "Montserrat", Roboto, "Helvetica Neue", sans-serif;
  font-size: 17px;
}

a {
  color:darkslategrey;
}

a:hover {
  color:white;
}


