<div mat-dialog-content>
  <p>
    Please provide a GitHub Personal Access Token
  </p>
  <mat-form-field appearance="fill" class="form">
    <mat-label>Token</mat-label>
    <input matInput [(ngModel)]="data.pat" class="token">
    <button *ngIf="data.pat" matSuffix mat-icon-button aria-label="Clear" (click)="data.pat=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]=data.pat cdkFocusInitial>Ok</button>
</div>
